.myprofile{

    color: blue;
    margin-left: -126px;

}
.myname {
    background-color: rgb(251, 249, 249);
    width: 49%;
    border: 2px solid rgb(77, 7, 219);
    padding: 35%;
    margin: 48px;
    margin-left: -140px;
}
.button{
    font-size: 40px;
    background-color: black;
    color: #fff;
    margin-left: 42%;
}